<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilac.mapper.FriendshipMapper">
    <!-- 插入好友请求 -->
    <insert id="insertFriendRequest" parameterType="com.lilac.pojo.Friendship">
        INSERT INTO friendship (user_id, friend_id, created_at)
        VALUES (#{userId}, #{friendId}, NOW());
    </insert>


    <!-- 删除好友关系 -->
    <delete id="deleteFriendship">
        DELETE
        FROM friendship
        WHERE (user_id = #{userId} AND friend_id = #{friendId})
           OR (user_id = #{friendId} AND friend_id = #{userId});
    </delete>

    <!-- 获取用户的所有好友（双向） -->
    <select id="getFriends" resultType="com.lilac.pojo.User">
        SELECT u.*
        FROM friendship f
                 JOIN user u ON f.friend_id = u.id
        WHERE f.user_id = #{userId}
        UNION
        SELECT u.*
        FROM friendship f
                 JOIN user u ON f.user_id = u.id
        WHERE f.friend_id = #{userId}
    </select>


    <!-- 获取两人之间的好友关系 -->
    <select id="getFriendship" resultType="com.lilac.pojo.Friendship">
        SELECT *
        FROM friendship
        WHERE (user_id = #{userId} AND friend_id = #{friendId})
           OR (user_id = #{friendId} AND friend_id = #{userId});
    </select>

</mapper>

