<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lilac.mapper.PostMapper">

    <!-- 根据板块号和参数查询帖子列表 -->
    <select id="getPostsBySectionIdAndCriteria" resultType="com.lilac.dto.PostDetailRequest">
        SELECT
        p.id,
        p.title,
        p.content,
        u.id AS authorId,
        u.username AS author,
        u.avatar,
        p.created_time AS createdTime,
        p.last_reply_time AS lastReplyTime
        FROM post p
        JOIN user u ON p.user_id = u.id
        WHERE p.section_id = #{sectionId}
        <if test="begin != null and end != null">
            AND p.created_time BETWEEN #{begin} AND #{end}
        </if>
        ORDER BY
        <choose>
            <when test="sortBy == 'createdTime'">
                p.created_time DESC
            </when>
            <when test="sortBy == 'lastReplyTime'">
                p.last_reply_time DESC
            </when>
        </choose>
    </select>

    <!-- 根据板块号查询帖子列表 -->
    <select id="getPostsBySectionId" parameterType="Integer" resultType="com.lilac.pojo.Post">
        SELECT *
        FROM post
        WHERE section_id = #{sectionId}
    </select>

    <!-- 获取指定帖子的详细信息 -->
    <select id="getPostById" parameterType="Integer" resultType="com.lilac.dto.PostDetailRequest">
        SELECT p.id,
               p.title,
               p.content,
               s.id              AS sectionId,
               s.title           AS sectionTitle,
               u.id              AS authorId,
               u.username        AS author,
               u.avatar,
               p.created_time    AS createdTime,
               p.last_reply_time AS lastReplyTime
        FROM post p
                 JOIN user u ON p.user_id = u.id
                 JOIN section s ON p.section_id = s.id
        WHERE p.id = #{postId}
    </select>

    <!-- 根据用户ID查询帖子列表 -->
    <select id="getPostsByUserId" resultType="com.lilac.dto.PostDetailRequest">
        SELECT p.id,
               p.title,
               p.content,
               s.id              AS sectionId,
               s.title           AS sectionTitle,
               u.id              AS authorId,
               u.username        AS author,
               u.avatar,
               p.created_time    AS createdTime,
               p.last_reply_time AS lastReplyTime
        FROM post p
                 JOIN user u ON p.user_id = u.id
                 JOIN section s ON p.section_id = s.id
        WHERE p.user_id = #{userId}
        ORDER BY p.created_time DESC
    </select>

    <!-- 插入新帖子 -->
    <insert id="insertPost" parameterType="com.lilac.pojo.Post">
        INSERT INTO post (section_id, user_id, title, content, created_time, last_reply_time)
        VALUES (#{sectionId}, #{userId}, #{title}, #{content}, NOW(), NOW())
    </insert>

    <!-- 更新帖子的最后回复时间 -->
    <update id="updatePostLastReplyTime" parameterType="com.lilac.pojo.Post">
        UPDATE post
        SET last_reply_time = #{lastReplyTime}
        WHERE id = #{postId}
    </update>


    <!-- 更新帖子 -->
    <update id="updatePost" parameterType="com.lilac.pojo.Post">
        UPDATE post
        SET title   = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>

    <!-- 删除帖子 -->
    <delete id="deletePost" parameterType="Integer">
        DELETE
        FROM post
        WHERE id = #{postId}
    </delete>

    <!--删除板块内所有贴子-->
    <delete id="deletePostsBySectionId" parameterType="Integer">
        DELETE
        FROM post
        WHERE section_id = #{sectionId}
    </delete>

    <!--搜索帖子-->
    <select id="searchPostByCriteria" resultType="com.lilac.dto.PostDetailRequest">
        SELECT p.id,
        p.title,
        p.content,
        s.id AS sectionId,
        s.title AS sectionTitle,
        u.id AS authorId,
        u.username AS author,
        u.avatar,
        p.created_time AS createdTime,
        p.last_reply_time AS lastReplyTime
        FROM post p
        JOIN user u ON p.user_id = u.id
        JOIN section s ON p.section_id = s.id
        <choose>
            <when test="searchType == 'title'">
                WHERE p.title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="searchType == 'content'">
                where p.content LIKE CONCAT('%', #{keyword}, '%')
                or p.title LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY
        <choose>
            <when test="sortBy == 'createdTime'">
                p.created_time DESC
            </when>
            <when test="sortBy == 'lastReplyTime'">
                p.last_reply_time DESC
            </when>
        </choose>
    </select>

</mapper>
