<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lilac.mapper.SectionMapper">
    <!-- 查询单个记录 -->
    <select id="getSectionById" parameterType="integer" resultType="com.lilac.pojo.Section">
        SELECT *
        FROM section
        WHERE id = #{id}
    </select>
    <select id="getAllSections" resultType="com.lilac.pojo.Section">
        SELECT *
        FROM section
    </select>

    <!-- 动态插入操作 -->
    <insert id="insertSection" parameterType="com.lilac.pojo.Section">
        INSERT INTO section (title, description,background)
        VALUES (#{title}, #{description},#{background})
    </insert>

    <!-- 动态更新操作 -->
    <update id="updateSection" parameterType="com.lilac.pojo.Section">
        UPDATE section
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="background != null">background = #{background},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 动态删除操作 -->
    <delete id="deleteSection" parameterType="integer">
        delete FROM section
        WHERE id = #{id}
    </delete>


</mapper>
