<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lilac.mapper.CommentMapper">

    <!-- 获取指定帖子下的所有评论 -->
    <select id="getCommentsByPostId" parameterType="Integer" resultType="com.lilac.dto.CommentRequest">
        SELECT
        c.id,
        u.id AS authorId,
        u.username AS author,
        u.avatar,
        c.content,
        c.created_time AS createdTime
        FROM comment c
        JOIN user u ON c.user_id = u.id
        WHERE c.post_id = #{postId}
        <choose>
            <when test="sortOrder == 'asc'">
                ORDER BY c.created_time ASC
            </when>
            <when test="sortOrder == 'desc'">
                ORDER BY c.created_time DESC
            </when>
        </choose>
    </select>

    <!-- 根据评论ID获取评论详情 -->
    <select id="getCommentById" parameterType="Integer" resultType="com.lilac.pojo.Comment">
        SELECT c.id,
               c.post_id      AS postId,
               c.user_id      AS userId,
               u.username     AS author,
               u.avatar       AS avatarUrl,
               c.content,
               c.created_time AS createdTime
        FROM comment c
                 JOIN user u ON c.user_id = u.id
        WHERE c.id = #{commentId}
    </select>

    <!-- 根据关键字搜索评论 -->
    <select id="searchCommentsByCriteria" resultType="com.lilac.dto.CommentRequest">
        SELECT c.id,
               c.post_id      AS postId,
               c.user_id      AS userId,
               u.username     AS author,
               u.avatar       AS avatarUrl,
               c.content,
               c.created_time AS createdTime
        FROM comment c
                 JOIN user u ON c.user_id = u.id
        WHERE c.content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY c.created_time DESC
    </select>

    <!-- 插入新评论 -->
    <insert id="insertComment" parameterType="com.lilac.pojo.Comment">
        INSERT INTO comment (post_id, user_id, content, created_time)
        VALUES (#{postId}, #{userId}, #{content}, NOW())
    </insert>


    <!-- 更新评论 -->
    <update id="updateComment" parameterType="com.lilac.pojo.Comment">
        UPDATE comment
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <!-- 删除评论 -->
    <delete id="deleteComment" parameterType="Integer">
        DELETE
        FROM comment
        WHERE id = #{commentId}
    </delete>

    <!-- 删除贴子下的所有评论 -->
    <delete id="deleteCommentsByPostId" parameterType="Integer">
        DELETE
        FROM comment
        WHERE post_id = #{postId}
    </delete>

</mapper>
